.menu {
    justify-content: flex-end;
    transition: 1s;
}

.logo {
    font-family: 'Anton', sans-serif;
}

.red {
    color: #931c3c;
}

.active {
    font-weight: bold;
}

nav, .navbar {
    transition: 1s;
}

.bg-dark {
    background-color: rgba(52, 58, 64, 0.3) !important;
}

.black {
    background-color: rgba(52, 58, 64, 1) !important;
    -webkit-box-shadow: 4px 4px 4px;
    box-shadow: 4px 4px 4px;
}
