<section id="skills" class="container-fluid">
    <div class="container">
        <div class="row content">
            <div class="skill col-sm-4">
                <div class="round">
                    <img src="assets/yoga.svg" alt="yoga" />
                </div>

                <h4>Flexibilité</h4>
            </div>

            <div class="skill col-sm-4">
                <div class="round">          
                    <img src="assets/muscle.svg" alt="muscle" />
                </div>

                <h4>Rigourosité</h4>
            </div>

            <div class="skill col-sm-4">
                <div class="round">
                    <img src="assets/growth.svg" alt="growth" />
                </div>

                <h4>Évolutivité</h4>
            </div>
        </div>
    </div>
</section>