<section id="skills" class="container-fluid">
    <div class="container">
        <div class="row content">
            <div class="skill col-sm-4">
                <div class="round">
                    <p><i class="fas fa-expand-alt"></i></p>
                </div>

                <h4>Flexibilité</h4>
            </div>

            <div class="skill col-sm-4">
                <div class="round">          
                    <p><i class="fas fa-medal"></i></p>
                </div>

                <h4>Rigoureusité</h4>
            </div>

            <div class="skill col-sm-4">
                <div class="round">
                    <p><i class="fas fa-dumbbell"></i></p>
                </div>

                <h4>Évolutivité</h4>
            </div>
        </div>
    </div>
</section>